{%extends "base.html"%}
{% block title %} Login Page {% endblock %}

{% block content %}
    {% whith messages = get_flashed_messages()%}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
    {% endif %}
{% endwhith %}

<form method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <button type="submit">로그인</button>
</form>

{% endblock %}