#progressBar {
    width: 100%;
    background-color: yellow;
}
#progress {
    width: 0%;
    height: 30px;
    background: linear-gradient(to right, green, orange);
    transition: width 0.5s ease-out;
}
#progressText {
    position: absolute;
    width: 100%;
    text-align: center;
    color: black;
}
