
h1, h2 {
text-align: center;
}
#calender {
width: 100%;
border: 1px solid black;
border-collapse: collapse;
}
#calender th {
width: 14%;
padding: 18px;
background-color: #dadada;
}
#calender td {
text-align: center;
padding: 10px;
border: 1px solid black;
}
#calender tr > *:first-child {
color: red;
}
/* DOM 구조를 이해하고 계층 아래도 적용 가능 */
/* #calender th:first-child, #calender td:first-child {
color: red;
} */
/* #calender td:first-child {
color: red;
} */
#calender tr > *:last-child {
color: blue;
}
/* #calender th:last-child, #calender td:last-child {
color: blue;
} */
/* #calender td:last-child {
color: blue;
} */
img {
width: 100%;
}