body {
text-align: center;
}
#calender {
width: 100%;
border: 1px solid black;
border-collapse: collapse;
}
#calender th {
width: 14%;
padding: 18px;
background-color: #dadada;
}
#calender td {
text-align: center;
padding: 10px;
border: 1px solid black;
}
#calender tr > *:first-child {
color: red;
}
#calender tr > *:last-child {
color: blue;
}
img {
width: 30%;
}